/**************************
General
**************************/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0.5%;
}

img {
    max-width: 100%;
}
/************************
Header
************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}


/************************
Navigation
************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/************************
Footer
************************/

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: yellow;
}
.social-media-icon {
   height: 20px;
   width: 20px;
   margin: 0 5px;
   clear: both;
}

/************************
Page Portfolio
************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: violet;
    color: blue;
}

#gallery li a p {
     margin: 0;
     padding: 5%;
     font-size: 0.75em;
     color: blueviolet;
}
/**************************************
Colors
**************************************/

body {
    background: purple;
}

a{
    color: crimson;
}

header {
    background-color: orangered;
}

h1, h2 {
    color: white;
}
nav a {
    color: greenyellow;
}

nav{
    background-color: orangered;
}

nav a, nav a:visited{
    color: greenyellow;
}

nav a:hover {
    color: green;
}

/***********************
Media Querie
***********************/

@media screen and (min-width: 480px){
    
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child(4n){
        clear: left;
    }
}

@media screen and (min-width: 660px){
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
     #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 10px solid black;
        margin-bottom: 60px;
    }
}